button {
  background-color: #e0e0e0;
  display: flex; /* Flex para alinear ícono y texto */
  align-items: center; /* Centrar verticalmente */
  padding: 5px 5px; /* Ajusta el tamaño del botón */
  margin-bottom: 10px;
  cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
  color: rgb(19, 11, 11);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: start;
  width: 100%;
}

.selected {
  background-color: #15883e;
  transition: background-color 0.3s ease;
  color: #e0e0e0;
}

button.clickable:hover {
  background-color: #15883e;
  transition: background-color 0.3s ease;
  color: #e0e0e0;
}
