<app-title-bar title="Statsify" fontSize="50"></app-title-bar>

<div class="container">
  <div class="row">
    <div class="col">
      <app-card-most-list
        [title]="'User: ' + userData.display_name"
        [type]="'user'"
        [list]="[userPic]"
      ></app-card-most-list>

      <app-card-most-list
        title="Most listened songs"
        [type]="'song'"
        [list]="filteredTracks"
      ></app-card-most-list>

      <app-card-most-list
        title="Most listened artists"
        [type]="'artist'"
        [list]="topArtistFiltered"
      ></app-card-most-list>
    </div>
    <div class="col">
      <app-card-most-list
        title="Most listened genres"
        [type]="'pie-chart-genre'"
        [percentages]="percentageGenres"
      ></app-card-most-list>

      <app-card-most-list
        *ngIf="weeklyTimes.length > 0"
        title="Listening Activity"
        [type]="'line-chart'"
        [linearData]="weeklyTimes"
      ></app-card-most-list>
    </div>
  </div>
</div>
