<div class="container">
  <app-title-bar
    title="{{ title }}"
    fontSize="25px"
    type="component"
  ></app-title-bar>

  <div *ngIf="type == 'artist'" class="artist">
    <app-list-item
      *ngFor="let item of limitedArtist"
      [text]="item.artist"
    ></app-list-item>
  </div>

  <div *ngIf="type == 'song'" class="song">
    <app-list-item
      *ngFor="let item of limitedSong"
      [text]="item.title"
      [extraText]="item.artist"
    ></app-list-item>
  </div>

  <div *ngIf="type == 'pie-chart'" class="pie-chart">
    <p>Click to visualize</p>
    <app-pie-chart [genres]="limitedGenre"></app-pie-chart>
  </div>

  <div *ngIf="type == 'line-chart'" class="line-chart">
    <app-line-chart [data]="list"></app-line-chart>
  </div>
</div>
