.container {
  background-color: #383434;
  color: white;
  padding: 10px; /* Ajusta esto si es necesario */
  border: none;
  border-radius: 20px;
  height: fit-content;
  width: fit-content; /* Ajusta el ancho al contenido */
  max-width: 100%;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 10px auto; /* Centra el contenedor horizontalmente, si es necesario */
}

.pie-chart {
  padding: 10;
}

/* .line-chart {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 500px;
  width: 500px;

  color: white;
} */
