.container {
  background-color: #383434;
  color: white;
  padding: 10px; /* Ajusta esto si es necesario */
  border: none;
  border-radius: 20px;
  height: fit-content;
  width: fit-content; /* Ajusta el ancho al contenido */
  max-width: 100%;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 10px auto; /* Centra el contenedor horizontalmente, si es necesario */
}

.user img {
  height: 75px;
  width: 75px;
  object-fit: cover; /* Ajusta la imagen para que mantenga proporciones y llene el área */
  border-radius: 50%; /* Hace que la imagen se vea circular */
}
