h1 {
  font-size: 70px;
}
h3 {
  font-size: medium;
}

.btn {
  background-color: #1db954; /* Color verde de Spotify */
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #15883e;
  transition: background-color 0.3s ease;
}

.container {
  margin-top: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
